html {
  margin: 0;
  padding: 0;
  cursor: url("../images/cursor.png"), auto !important;
}

html:hover {
  cursor: url("../images/cursor.png"), auto !important;
}

body {
  height: 100%;
  width: 100vw;;
  color: #3476E0;
  font-family: 'Suez One', serif;
  font-family: 'Megrim', cursive;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 220%;
  cursor: url("../images/cursor.png"), auto !important;
}

svg {
  cursor: url("../images/cursor_p.png"), auto !important;
}

input {
  height: 40px;
  width: 60%;
}

.le-up input {
  height: 50px;
  width: 70%;
}
.ri-up input {
  height: 40px;
  width: 70%;
}
.container-fluid {
  height: 100vh;
  width: 100%;
  /*overflow-y: hidden; */
}

.m {
  height: 100%;
}

input[type="checkbox"] { 
  filter: invert(0%) hue-rotate(140deg) brightness(0.8);
  width: 10%;
  height: 20px;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

input[type="submit"] {
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.ri-up input[type="checkbox"] { /* change "blue" browser chrome to yellow */
  filter: invert(0%) hue-rotate(140deg) brightness(0.8);
  width: 10%;
  height: 20px;
}

a {
  text-decoration: none;
  padding: 50px 0 50px 0;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Boogaloo', cursive;
  font-family: 'Patua One', cursive;
  font-size: 5em;
  color: #E7FF7D;
  color: #0D6EFD;
  color: #458F67;
  color: white;
  margin: 0px;
}


p {
  font-size: 3.5em;
  color: #E7FF7D;
  color: #0A111C;
  color: #458F67;
  color: white;
}

div {
  text-align: center;
}

.pos {
  position:absolute;
  bottom:0;
  margin-left:auto;
  margin-right:auto;
}

.left {
  background-color: #0D6EFD;
  /*background-image: url("../images/logo-06.png");*/
  background-color: #34C95A;
  background-color: #91B1E3;
  background-color: #91E3E0;
  background-image: url("../images/Fondos-02.png");
  background-size: 615px;
  background-repeat: repeat;
}

.right {
  background-color: black;
}

.ri {
  text-align: right;
  padding-bottom: 20px;
}

.le {
  text-align: left;
  padding-bottom: 25px;
}

.ri-up {
  text-align: right;
  padding-bottom: 20px;
}

.le-up {
  text-align: left;
  padding-bottom: 15px;
} 

.ri-up label {
  font-size: 200%;
}

.logo {
  width: 120px;
  height: 100px;
  font-size: 5em;
  color: #0A111C;
  color: #FC0F03;
  text-align: start;
  cursor: pointer;
  cursor: url("../images/cursor_p.png"), pointer !important;
}


.press {
  width: 30%;
  height: 30%;
  color: #FC2003;
  color: #FC0F03;
  color: #3476E0;
  margin: 0px;
  top: 100%;
  bottom: 0px;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.press:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.in-pos {

}

.up-pos {

}

.in {
  font-size: 5em;
  margin-top: 0px;
  margin-bottom: 20%;
}

.up {
  font-size: 5em;
  margin-top: 0px;
  margin-bottom: 10%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .press {
    width: 40%;
    height: 40%;
    margin-bottom: 0px;
  }
  p {
    font-size: 3em;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .press {
    width: 40%;
    height: 40%;
    margin-bottom: 0px;
  }
  .in {
    font-size: 4em;
    margin-top: 0px;
  }
  .up {
    font-size: 4em;
    margin-top: 0px;
  }
  p {
    font-size: 3em;
  }
  label {
    font-size: 180%;
  }
  .ri-up label {
  font-size: 160%;
  }
  .ri {
    text-align: right;
    padding-bottom: 25px;
  }

  .le {
    text-align: left;
    padding-bottom: 25px;
  }
  .ri-up {
    text-align: right;
    padding-bottom: 15px;
  }

  .le-up {
    text-align: left;
    padding-bottom: 18px;
  } 
  .ri-up input {
    height: 40px;
    width: 70%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .press {
    width: 40%;
    height: 40%;
    margin-bottom: 0px;
  }
  .in {
    font-size: 3.2em;
    margin-top: 0px;
  }
  .up {
    font-size: 3.2em;
    margin-top: 0px;
  }
  p {
    font-size: 3em;
  }
  label {
  font-size: 150%;
  }
  .ri-up label {
  font-size: 120%;
  }
  .ri {
  text-align: right;
  padding-bottom: 30px;
  }

  .le {
    text-align: left;
    padding-bottom: 25px;
  }
  .ri-up {
    text-align: right;
    padding-bottom: 15px;
  }

  .le-up {
    text-align: left;
    padding-bottom: 20px;
  } 
  .le-up input {
    height: 40px;
    width: 70%;
  }
  .ri-up input {
    height: 30px;
    width: 70%;
  }
}

/********** Extra small devices only **********/
@media (min-width: 371px) and (max-width: 767px) {
  .press {
    width: 40%;
    height: 40%;
    margin-bottom: 0px;
  }
  .in {
    font-size: 5em;
    margin-top: 0px;
  }
  .up {
    font-size: 5em;
    margin-top: 0px;
  }
  p {
    margin-top: 0px;
    font-size: 3em;
  }
  label {
  font-size: 180%;
  }
  .ri-up label {
    font-size: 150%;
  }
  .ri {
  text-align: right;
  padding-bottom: 25px;
  }

  .le {
    text-align: left;
    padding-bottom: 25px;
  }
  .ri-up {
    text-align: right;
    padding-bottom: 10px;
  }

  .le-up {
    text-align: left;
    padding-bottom: 15px;
  } 
}

/********** Extra extra small devices only **********/
@media (max-width: 370px) {
  .press {
    width: 40%;
    height: 40%;
    margin-bottom: 0px;
  }
  .in {
    font-size: 5em;
    margin-top: 0px;
  }
  .up {
    font-size: 5em;
    margin-top: 0px;
  }

  p {
    margin-top: 0px;
    font-size: 3em;
  }
  label {
  font-size: 150%;
  }
  .ri-up label {
    font-size: 120%;
  }
  .ri {
  text-align: right;
  padding-bottom: 30px;
  }

  .le {
    text-align: left;
    padding-bottom: 25px;
  }
  .ri-up {
    text-align: right;
    padding-bottom: 10px;
  }

  .le-up {
    text-align: left;
    padding-bottom: 15px;
  } 
}