body {
  color: #900C3F;
  background-color: #0F021A;
  font-family: 'Rubik Beastly', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Aclonica', sans-serif;
  
  font-family: 'Gabriela', serif;
  font-family: 'New Rocker', cursive;
  font-family: 'Ewert', cursive;
  font-family: 'Rye', cursive;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 8em;
  color: #C70039;
  margin: 0.5em;
}

p {
  font-size: 4em;
  color: #900C3F;
}

div {
  text-align: center;
}

.sqr {
  width: 50%;
  height: 100%;
  font-size: 10em;
}



/********** Large devices only **********/
@media (min-width: 1200px) {
  .sqr {
  width: 35%;
  height: 100%;
  font-size: 10em;
  }
  h1 {
  font-size: 7em;
  margin: 0.3em;
  }

  p {
    font-size: 4em;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .sqr {
  width: 40%;
  height: 100%;
  font-size: 9em;
}
  h1 {
  font-size: 7em;
  margin: 0.5em;
  }

  p {
    font-size: 4em;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .sqr {
  width: 50%;
  height: 100%;
  font-size: 8em;
  }
  h1 {
  font-size: 6em;
  margin: 0.7em;
  }

  p {
    font-size: 3em;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .sqr {
  width: 60%;
  height: 100%;
  font-size: 7em;
  }
  h1 {
  font-size: 5em;
  margin: 1em;
  }

  p {
    font-size: 2.5em;
  }
}