html {
  height: 100%;
}

body {
  color: #0A111C;
  font-family: 'Suez One', serif;
  font-family: 'Megrim', cursive;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.container-fluid {
  height: 100vh;
  overflow-y: hidden; 
}

.row {
  height: 100vh;
  overflow-y: hidden; 
}

a {
  text-decoration: none;
  padding: 50px 0 50px 0;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Boogaloo', cursive;
  font-size: 4em;
  color: #E7FF7D;
  color: #0D6EFD;
  color: #458F67;
  margin: 0.5em;
}


p {
  font-size: 4em;
  color: #E7FF7D;
  color: #0A111C;
  color: #458F67;
}

div {
  text-align: center;
}

.left {
  background-color: #0D6EFD;
  background-image: url("../images/logo-06.png");
  background-color: #34C95A;
  background-color: #59C273;
  background-size: 150px;
  background-repeat: repeat;
}

.right {
  background-color: black;
}

.logo {
  width: 120px;
  height: 100px;
  font-size: 5em;
  color: #0A111C;
  color: #FC0F03;
  text-align: start;
}

.fifty {
  height: 20%;
}

.press {
  width: 30%;
  height: 30%;
  color: #FC2003;
  color: #FC0F03;
  margin: 0;
  top: 100%;
  bottom: 0px;
}

.press:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .press {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  h1 {
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 30%;
  }

  p {
    font-size: 5em;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .press {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}
  h1 {
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 50%;
  }

  p {
    font-size: 4em;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .press {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  h1 {
    font-size: 3.2em;
    margin-top: 0px;
    margin-bottom: 70%;
  }

  p {
    font-size: 3em;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .press {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  h1 {
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 30%;
  }

  p {
    margin-top: 0px;
    font-size: 4em;
  }
}