html {
  height: 100%;
}

body {
  color: #0A111C;
  font-family: 'Rye', cursive;
  font-family: 'Ewert', cursive;
  font-family: 'Aclonica', sans-serif;
  font-family: 'New Rocker', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Rubik Beastly', cursive;
  font-family: 'Gabriela', serif;
  height: 100%;
}

.container-fluid {
  height: 100vh;
  overflow-y: hidden; 
}

.row {
  height: 100vh;
  overflow-y: hidden; 
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  color: #E7FF7D;
  color: #30231A;
  color: #0D6EFD;
  margin: 0.5em;
}


p {
  font-size: 4em;
  color: #E7FF7D;
  color: #0A111C;
}

div {
  text-align: center;
}

.left {
  background-color: white;
  background-image: url("../images/logo-05.png");
  background-color: darkseagreen;
  background-size: 450px;
  background-repeat: no-repeat;
}

.right {
  background-color: black;
}

.logo {
  width: 100px;
  height: 100px;
  font-size: 5em;
  color: #0A111C;
  text-align: start;
}

.press {
  font-size: 5em;
  color: #0A111C;
}

.press:hover {
  text-decoration: none;
  color: #23375C;
  cursor: pointer;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .press {
  width: 35%;
  height: 100%;
  font-size: 5em;
  }
  h1 {
  font-size: 5em;
  margin: 0.3em;
  margin-top: 0em;
  }

  p {
    font-size: 4em;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .press {
  width: 40%;
  height: 100%;
  font-size: 4em;
}
  h1 {
  font-size: 4em;
  margin: 0.5em;
  margin-top: 0em;
  }

  p {
    font-size: 4em;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .press {
  width: 50%;
  height: 100%;
  font-size: 3em;
  }
  h1 {
  font-size: 3em;
  margin: 0.7em;
  margin-top: 0em;
  }

  p {
    font-size: 3em;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .press {
  width: 60%;
  height: 100%;
  font-size: 2em;
  }
  h1 {
  font-size: 2em;
  margin: 1em;
  margin-top: 0em;
  }

  p {
    font-size: 2.5em;
  }
}