html {
  margin: 0;
  padding: 0;
  cursor: url("../images/cursor.png"), auto !important;
}

html:hover {
  cursor: url("../images/cursor.png"), auto !important;
}

body {
  height: 100%;
  width: 100%;
  color: black;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

label {
  font-size: 160%;
  cursor: url("../images/cursor.png"), auto !important;
  margin-bottom: 10px;
}

svg {
  cursor: url("../images/cursor_p.png"), auto !important;
}

input {
  height: 40px;
  width: 60%;
  padding: 0px;
}

button {
  cursor: url("../images/cursor_p.png"), pointer !important;
  height: 30%;
  width: 50%;
  font-size: 3em !important;
  margin-top: 2%;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

h1 {
  font-family: 'Boogaloo', cursive;
  font-size: 12em;
  color: #2F4E6F;
  margin: 0px;
  margin-top: 2%;
}

p {
  font-size: 150%;
  color: black;
}

div {
  text-align: center;
}

.menu-items-container {
  width: 50%;
  margin: 0% 2% 2% 2%;
}

.container-fluid {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden; 
}

.menu-left {
  background-color: #2F4E6F;
  padding: 0px;
  height: 100vh;
}

.menu-right {
  background-color: white;
  height: 100vh;
}

.dropdown-menu {
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.menu-item {
  width: 30%;
  height: 30%;
  color: #98B1C4;
  margin: 0px;
  top: 100%;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.menu-item:hover {
  text-decoration: none;
  color: #2F4E6F;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.menu-item-title {
  font-size: 3em;
}

.homepage-item-title {
  font-size: 2.5em;
}

.welcome {
  margin-top: 12%;
}
.error {
  font-size: 0.75em;
}

.logo-nav {
  width: 40px;
  height: 40px;
}

.homepage-title {
  font-size: 800%;
  text-align: center;
}

.homepage-image {
  width: 25%;
  position:absolute;
  right: 0;
  bottom:0;
}

.nav-link {
  font-size: 25px;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.nav-link:hover {
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.dropdown-item{
  font-size: 25px;
}

.homepage-button {
  margin: 10px;
  text-align: center;
  background-color: #98B1C4;
}

.homepage-item {
  width: 150px;
  margin-bottom: 0px;
  margin-top: 20%;
  color: #98B1C4;  
  top: 100%;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.page-item {
  margin-top: 10%;
}

.homepage-item:hover {
  text-decoration: none;
  color: #2F4E6F;
  cursor: url("../images/cursor_p.png"), pointer !important;
}

.entry {
  height: 50vh;
  width: 60vw;
  font-size: 200%;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 4%;
}

.left {
  align-content: left;
  text-align: left;
  padding-left: 20%;
}

.center {
  text-align: center;
}

.main {
  margin-bottom: 50px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  p {
    font-size: 150%;
    margin-bottom: 0px;
  }
  .menu-item {
    width: 50%;
    height: 50%;
    margin-bottom: 0px;
    margin-top: 20%;
  }
  .menu-items-container {
    position:absolute;
    right: 0;
    bottom:0;
  }
  .align-right {
  text-align: right;
  padding-right: 20%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-item {
    width: 60%;
    height: 60%;
    margin-bottom: 0px;
  }

  p {
    font-size: 150%;
    margin-bottom: 0px;
  }
  label {
    font-size: 130%;
  }

  .menu-items-container {
    position:absolute;
    right:0;
    bottom:0;
  }
  h1 {
    font-size: 10em;
    margin-top: 5%;
  }
  .align-right {
  text-align: right;
  padding-right: 20%;
  }
  .menu-button {
    width: 10%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .menu-item {
    width: 65%;
    height: 65%;
    margin-bottom: 0px;
  }
  p {
    font-size: 150%;
    margin-bottom: 0px;
  }
  label {
  font-size: 110%;
  }
  .homepage-title {
    font-size: 700%;
    text-align: center;
  }
  .menu-items-container {
    position:absolute;
    right:0;
    bottom:0;
  }
  h1 {
    font-size: 7em;
    margin-top: 2%;
  }
  button {
    width: 60%;
  }
  .align-right {
  text-align: right;
  padding-right: 10%;
  }

  input {
    height: 35px;
  }
  .menu-button {
    width: 20%;
  }
}

/********** Extra small devices only **********/
@media (min-width: 371px) and (max-width: 767px) {
  h1 {
    font-size: 6em;
    margin-top: 2%;
  }
  .menu-item {
    width: 60%;
    height: 60%;
    margin-bottom: 0px;
  }
  .homepage-title {
    font-size: 600%;
    text-align: center;
  }
  p {
    margin-bottom: 0px;
    font-size: 150%;
  }
  label {
    font-size: 180%;
  }

  input {
    height: 35px;
    width: 100%;
  }
  .align-right {
    text-align: center;
    padding-right: 0px;
  }
  .menu-items-container {
    margin: 0px;
    width: 100%;
  }

  button {
    width: 70%;
  }
  .welcome {
  margin-top: 45%;
  }
  .menu-button {
    width: 25%;
  }
}

/********** Extra extra small devices only **********/
@media (max-width: 370px) {
  h1 {
    font-size: 6em;
    margin-top: 2%;
  }
  .menu-item {
    width: 60%;
    height: 60%;
    margin-bottom: 0px;
  }
  .homepage-title {
    font-size: 500%;
    text-align: center;
  }
  input {
    height: 35px;
    width: 100%;
    text-align: center;
  }
  .align-right {
    text-align: center;
    padding-right: 0px;
  }
  p {
    margin-bottom: 0px;
    font-size: 150%;
  }
  label {
  font-size: 150%;
  text-align: center;
  }

  .menu-items-container {
    margin: 0px;
    width: 100%;
  }
  button {
    width: 80%;
  }
  .welcome {
  margin-top: 45%;
  }
  .menu-button {
    width: 30%;
  }
}